tbody {
    border: 2px black;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

table {
    width: 25%;
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
}